
<div class="container" ng-controller="login">
    
    <form>
        <legend>登录</legend>
    
        <div class="form-group">
            <label for="">用户名</label>
            <input ng-model="name" type="text" class="form-control" id="" placeholder="Input field">
        </div>
    
         <div class="form-group">
            <label for="">密码</label>
            <input ng-model="password" type="text" class="form-control" id="" placeholder="Input field">
        </div>
    
        <butto ng-click="login()" class="btn btn-primary">Submit</butto>
    </form>
    
</div>
