<div class="container">

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        <ul class="list-group">
            <li ui-sref='content.setting.list' class="list-group-item">文章列表</li>
            <li ui-sref='content.setting.new' class="list-group-item">新增文章</li>
            <li ui-sref='content.setting.new' class="list-group-item">草稿</li>
            <li ui-sref='content.setting.new' class="list-group-item">用户管理</li>
            <li ui-sref='content.setting.new' class="list-group-item">登录状态</li>
            <li ui-sref='content.setting.new' class="list-group-item">系统情况</li>
        </ul>

    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

        <div ui-view='ad'></div>
    </div>


</div>