<div class="container" ng-controller="regist">
    
<form>
    <legend>注册</legend>

    <div class="form-group">
        <label for="">用户名:</label>
        <input ng-model="name" type="text" class="form-control" id="" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">密码:</label>
        <input  ng-model="password" type="text" class="form-control" id="" placeholder="Input field">
    </div>

     <div class="form-group">
        <label for="">确认密码:</label>
        <input type="text" class="form-control" id="" placeholder="Input field">
    </div>
    <button ng-click="registSubmit()" class="btn btn-primary">注册</button>
</form>

</div>


